* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.HomeComponent {
    height: fit-content;
    width: 100%;
}

.HomeComponent-in {
    height: 100vh;
    width: 100%;
    display: flex;
}

.HomeComponent-one {
    height: 100vh;
    width: 18%;
    border-right: 1px solid rgb(186, 186, 187);
}

.HomeComponent-two {
    height: 100vh;
    width: 88%;
}