* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.TopbarComponent {
    height: fit-content;
    width: 100%;
    padding-top: 2rem;
}

.TopbarComponent-in {
    height: fit-content;
    width: 90%;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
}
 
.Topbar-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
}

.Topbar-one-in-two {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0rem 1rem;
}

.Topbar-one-one img {
    height: 40px;
}

.Topbar-one-in-one {
    padding: 0rem 1rem;
    font-weight: 600;
}