* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.TopbarComponent {
    height: 100%;
    width: 100%;
}

.TopbarComponent-in {
    overflow: hidden;
    background-color: black;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.TopbarComponent-Icon img{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    object-fit: cover;

}

.TopbarComponent-Name {
    color: white;
    font-size: 1rem;
    font-weight: 600;
}