* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#activated {
    background-color: blue;
    color: white;
}

.SidebarComponent {
    height: fit-content;
    width: 100%;
}

.SidebarComponent-in {
    height: fit-content;
    width: 100%;
}

.Sidebar-logo {
    padding: 1.8rem;
}

.Sidebar-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
}

.Sidebar-option {
    width: 80%;
}


.Sidebar-option-link {
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    padding: .6rem;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.Sidebar-option-link:hover {
    background-color: rgb(242, 242, 242);
    color: black;
}

.Sidebar-logout {
    height: 20vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 1.5rem;
}

.Sidebar-logout button {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.Sidebar-logout button:hover {
    text-decoration: none;
    background-color: rgb(242, 242, 242);
}

