.AttComponent-view {
    padding: 2rem;
    height: 87vh;
    overflow: scroll;
}

.AttComponent-view-in {
    height: fit-content;
}

.AttComponent-view {
    width: 100%;
    height: fit-content;
}

.AttComponent-view-in {
    width: 100%;
    height: fit-content;
}

.Att-select {
    height: fit-content;
    width: 100%;
    padding: 2rem;
}

.Att-select-in {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#year-select {
    width: 20%;
    font-size: 2rem;
}

#sem-select {
    width: 20%;
    font-size: 2rem;
}

.att-btn {
    background-color: white;
    padding: .5rem;
    color: black;
    border: none;
    border-radius: 5px;
    border: 1px solid rgb(242, 236, 236);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.att-btn:hover {
    background-color: blue;
    color: white;
}

.Att-table {
    height: 60vh;
    overflow: scroll;
}

.AttComponent-view-in table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.AttComponent-view-in td, th {
    border: 1px solid black;
}

.AttComponent-view-in th {
    background-color: rgb(225, 224, 231); 
    padding: 1rem;
}

.AttComponent-view-in th:nth-child(1) {
    padding: 0rem;
    width: 10%;
}

.AttComponent-view-in td:nth-child(1) {
    background-color: rgb(225, 224, 231);
}

#att-hide {
    display: none;
}