.Project-Component-in {
    display: flex;
    flex-direction: column;
}

.pro-box {
    border: 2px solid black;
    padding: 1rem;
}

.project-cm-one {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
}

.project-cm-one button {
    padding: .5rem;
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
}